
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_WebsitePages.cshtml";
}
<style>
    /*#fd7e14*/
    .registration {
        margin-top: 80px;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
    }

    .registration_heading {
        padding: 10px;
        background-color: #eeeeee;
        border-radius: 10px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 registration">
            <p class="registration_heading" style="text-align:center; font-size:40px;">

            About <span class="text-primary">Us</span>
        </p>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <img src="~/Web/images/internet-banking.png" alt="iBanker" class="w-100 img-fluid" />
        </div>

        <div class="col-md-8 w-100">
            <p>
                iBanker is a digital banking system used worldwide in commerce, finance, and banking sectors. It provides robust and swift financial services, encompassing online transactions, fund transfers, and account management. iBanker streamlines financial operations through the utilization of digital technology and the internet, offering users convenience and efficiency in handling their financial affairs. The system prioritizes security and boasts a user-friendly interface, ensuring users complete peace of mind and ease of use. Thanks to iBanker, individuals can manage their bank accounts anytime, anywhere, catering to their specific needs.
            </p>
        </div>
    </div>
</div>

