
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WebsiteLayout.cshtml";
}

<div class="site-blocks-cover overlay" style="background-image: url('/Web/images/hero_2.jpg');" data-aos="fade" id="home-section">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-10 mt-lg-5 text-center">
                <div class="single-text owl-carousel">
                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Banking Solutions</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">Banking has evolved incredibly since its inception. The earliest form of banking was seen in religious temples, where people stored their wealth. Basements of temples were considered the safest place to store wealth in jewels, minted coins, etc. This was the face of banking much before the 18th century. </p>
                        <div data-aos="fade-up" data-aos-delay="100">
                        </div>
                    </div>

                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Financing Solutions</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                            Financing is the process of providing funds for business activities, making purchases, or investing. Financial institutions, such as banks, are in the business of providing capital to businesses, consumers, and investors to help them achieve their goals. The use of financing is vital in any economic system, as it allows companies to purchase products out of their immediate reach.
                        </p>
                    </div>

                    <div class="slide">
                        <h1 class="text-uppercase" data-aos="fade-up">Savings Accounts</h1>
                        <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                            A savings account is an interest-bearing deposit account held at a bank or other financial institution. Though these accounts typically pay only a modest interest rate, their safety and reliability make them a good option for parking cash that you want available for short-term needs.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
            <span class="mouse-wheel"></span>
        </span>
    </a>

</div>
    <div class="site-section" id="next">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
                <img src="~/Web/images/flaticon-svg/svg/001-wallet.svg" alt="Money Savings" class="img-fluid w-25 mb-4">
                    <h3 class="card-title">Money Savings</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
                <img src="~/Web/images/flaticon-svg/svg/004-cart.svg" alt="Online Shoppings" class="img-fluid w-25 mb-4">
                    <h3 class="card-title">Online Shoppings</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="~/Web/images/flaticon-svg/svg/006-credit-card.svg" alt="Credit / Debit Cards" class="img-fluid w-25 mb-4">
                    <h3 class="card-title">Credit / Debit Cards</h3>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
                    <figure class="circle-bg">
                        <img src="~/Web/images/about_2.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </figure>
                </div>
                <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <div class="mb-4">
                        <h3 class="h3 mb-4 text-black">Amortization Computation</h3>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>

                    </div>

                    <div class="mb-4">
                        <ul class="list-unstyled ul-check success">
                            <li>Officia quaerat eaque neque</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>Consectetur adipisicing elit</li>
                        </ul>

                    </div>

                    <div class="mb-4">
                        <form action="#">
                            <div class="form-group d-flex align-items-center">
                                <input type="text" class="form-control mr-2" placeholder="Enter your email">
                                <input type="submit" class="btn btn-primary" value="Submit Email">
                            </div>
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </div>

