@model OnlineBankingSystem.Models.BankAccount

@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Shared/_UserDashboard.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="h3 text-center mt-2 mb-3">Welcome <span class="text-primary">@ViewBag.Name</span></div>
    </div>
</div>
